<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title</title>
  </head>
  <body>
    <h1>Create New Puppy</h1>
    <form class="" action="/puppies" method="post">
      <p><label for="name"><input type="text" name="name" id="name"></label></p>
      <p><label for="breed"><input type="text" name="breed" id="breed"></label></p>
      <p><label for="age"><input type="number" name="age" id="age"></label></p>
      <p><input type="submit" id="submit"></p>
    </form>
  </body>
</html>
